.container {
    // .add-todo {

    // }
    .content {
        width: 500px;
        margin: 0 auto;

        .child:first-child {
            border-top: 1px solid grey;
            margin-top: 20px !important;
        }

        .child {
            text-align: left;
            height: 40px;
            border-bottom: 1px solid grey;
            margin: 10px;

            button {
                margin-right: 4px;
                float: right;
                margin-top: 8px;
            }
        }
    }
}
